# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# registry from swagger
# {
#   "username": "Armin23",
#   "email": "armin23@example.com",
#   "isMan": true,
#   "age": 41,
#   "ID": "63de9c18494f1da8068a9808"
# }
#  "password": "ArmiN_23",

# Request URL
# https://first-node-js-app-r.herokuapp.com/api/users/register